Language: Cpp
UseTab: Never
TabWidth: 2
IndentWidth: 2
ContinuationIndentWidth: 2
BracedInitializerIndentWidth: 2
ConstructorInitializerIndentWidth: 2 # broken: llvm/llvm-project#61631
ColumnLimit: 100

IndentCaseLabels: true
AllowShortIfStatementsOnASingleLine: true
BreakBeforeBinaryOperators: NonAssignment

SpacesInParens: Custom
SpacesInParensOptions:
  InConditionalStatements: false
  Other: false
SpacesInAngles: Never
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: true
IndentAccessModifiers: true
Cpp11BracedListStyle: true
PointerAlignment: Left
QualifierAlignment: Left

AlignAfterOpenBracket: BlockIndent
AllowAllArgumentsOnNextLine: true
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Attach
PackConstructorInitializers: Never
# AlignAfterControlStatement: true # waiting for llvm/llvm-project#67738

BreakAfterAttributes: Never
PenaltyReturnTypeOnItsOwnLine: 200 # default: 60

PenaltyBreakOpenParenthesis: 0

InsertNewlineAtEOF: true